
[submodule "Contra"]
	path = Contra
	url = https://github.com/ai03-2725/Contra
[submodule "kicad_lib_tmk"]
	path = /libs/kicad_lib_tmk
	url = https://github.com/tmk/kicad_lib_tmk
[submodule "Contra_Plates"]
	path = ContraPlates
	url = https://github.com/ai03-2725/ContraPlates
[submodule "tmk_firmware"]
	path = tmk_firmware
	url = https://github.com/tmk/tmk_keyboard
[submodule "kicad_lib_tmk"]
	path = libs
	url = https://github.com/tmk/kicad_lib_tmk
[submodule "keyboard_parts.pretty"]
	path = libs
	url = https://github.com/tmk/keyboard_parts.pretty
[submodule "keebs.pretty"]
	path = libs
	url = https://github.com/egladman/keebs.pretty

